@import url('https://fonts.googleapis.com/css?family=Audiowide');
body {
    font-size:18px;
    color: #eee;
}
header ul.nav a,
h1,
em {
	text-transform: capitalize;
}
header.navbar {
    box-shadow: 0 0 20px black;
}
.navbar-header > .navbar-brand {
    color: #0ce3ac;
    cursor: initial;
}
.navbar-header > .navbar-brand:hover {
    color: #0ce3ac;
    cursor: initial;
}
main#content-wrapper {
	margin-top:80px;
    position:relative;
    z-index:2;
    background-color: #222222;
    margin-bottom: 370px;
}
h1 {
    font-family: 'Audiowide', serif;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}
h2 {
    text-align: center;
    color: #375a7f;
    font-style: italic;
    text-shadow: 2px 2px 5px black;
    margin: 40px 0;
    font-weight: 600;
}
h4 {
	font-style: italic;
	margin-bottom:30px;
	font-size:17px;
	color:gray;
	text-align: center;
}
div.panel-default {
	padding: 15px 30px 30px 30px;
}
    .panel-default ol{
        list-style:none;
    }
    .panel-default #code-languages {
        margin:10px 0 10px 10%;
        padding:0;
    }
        .panel-default label {
            text-decoration: underline;
        }
        .panel-default li {
            margin: 5px 0;
            color:gray;
        }
        .panel-default p {
            font-style: italic;
            margin-bottom: 30px;
            text-align: left;
            color:gray;
            font-size:20px;
            text-indent: 30px;
        }
        .panel-default a {
            display: block;
            text-align:center;
        }
        .panel-default img {
            display: inline-block;
            border: 2px solid transparent;
            border-radius: 5px;
            box-shadow: 0 0 10px darkgrey;
            max-width:100%;
        }
        .panel-default .home-funny {
            margin-top: 30px;
            text-align: center;
        }
            .panel-default .home-funny h3 {
                color:gray;
                font-style:italic;
                text-align: left;
            }
        .panel-default h3:first-of-type::first-letter {
            font-family: DauphinPlain, serif;
            font-weight:400;
            font-size:35px;
            text-transform: capitalize;
            color:#0ce3ac;
        }
        .panel-default .code {
        font-family: 'Audiowide', cursive;
        font-size: 1.2em;
        color: #0ce3ac;
        margin:0 5px;
    }
/* 4. Threshold, stay at content bottom */
#threshold  {
    padding-left: 14px;
    padding-right: 15px;
    padding-bottom: 10px;
    box-shadow: 0 10px 8px #121212;
    z-index: 2;
    position: relative;
    height: 35px;
}
    #threshold > span {
        font-size:20px;
    }
    #threshold span#course {
        float:right;
        color: #0ce3ac;
        margin-left:-100%;
    }
    #threshold span#project-by {
        float:left;
    }
    #threshold span#team {
        float:left;
        margin-top:40px;
        margin-left: -90px;
        color: #0ce3ac;
        font-size:28px;
        font-family: 'Audiowide', cursive;
        text-transform: capitalize;
        font-style:italic;
    }
/* 1. Footer position, @media */
#footer {
    position: fixed;
    bottom:0;
    z-index:1;
    width:100%;
}
    #footer span {
        font-size: 20px;
        color:gray;
    }
    #footer > #background-pattern {
        background-image: url(../../resources/images/pattern/footer-pattern.png);
        height: 370px;
    }
    #threshold #team,
    #footer #project-by,
    #footer #theme-by,
    #footer a,
    #footer li,
    #footer h3 {
        font-family: 'Audiowide', cursive;
        color: gray;
    }
    /* 2. Z-index, alignment */
    #footer section {
        z-index: 1;
        position: relative;
        border-top:1px solid transparent;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
        box-shadow: 0 1px 1px rgba(0,0,0,0.05);
        padding-top:20px;
        text-align: center;
    }
        #footer section > .team-member {
            display: inline-block;
            margin:20px;
            width:250px;
            vertical-align: top;
        }
            #footer section > .team-member img {
                border: 2px solid #ffffff;
                box-shadow: 0 0 5px #000000;
                -webkit-box-shadow: 0 0 5px #000000;
                border-radius: 50%;
                transition: 0.1s all ease-in-out;
                height: 170px;
            }
            #footer section > .team-member:hover img {
                border-color: #0ce3ac;
                /*height:200px;*/
                /*margin-top:-30px;*/
                transform: scale(1.2);
                -webkit-box-shadow: 0 0 50px #000000;
                -moz-box-shadow: 0 0 50px #000000;
                box-shadow: 0 0 50px #000000;
            }
            #footer section > .team-member h3 {
                text-transform: capitalize;
                font-size:20px;
                position: relative;
                bottom:0;
                color:#0ce3ac;
            }
            #footer section > .team-member .contact-info {
                padding:0;
                list-style:none;
            }
            #footer section > .team-member .contact-info .e-mail {
                font-size:16px;
            }
    /* 3. Footer, position */
    #footer #theme-by {
        position: absolute;
        bottom:10px;
        right:20px;
        z-index:2;
        font-size:16px;
        font-family: 'Audiowide', cursive;
    }
    #footer #theme-by a {
        font-size:18px;
        color: #375a7f;
    }

@media screen and (max-width: 599px) {
    #footer > #background-pattern {
        height: 700px;
    }
    main#content-wrapper {
        margin-bottom:700px;
    }
}
@media screen and (min-width: 992px) {
    .panel-default .home-funny:nth-of-type(even) h3{
        float:left;
        margin-top:150px;
    }
    .panel-default .home-funny h3,
    .panel-default .home-funny img {
        display: inline-block;
        width:45%
    }
    .panel-default .home-funny img {
        margin:20px;
    }
}